*{
    margin : 0;
    padding: 0;
}

html, body{
    height : 100%;
    background-color: rgb(255, 255, 255);
}

.head{
   background-color: rgb(242, 242, 242);
   height: 30px; 
   padding: 20px;
   z-index: 10;
}

.head_inner{
    display: flex;
    flex-direction: row;
}

.head_logobox{
    margin-right: 20px;
}

.head_logo{
    width: 125px;
}

.head_inner_2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head_inner_2post{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.9rem;
    margin-left: 25px;
}

.head_inner_3{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.head_inner_3post1{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.head_inner_3post2{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

/* ------------------------------------------ */

.body1{
    height: 800px;
    margin-bottom: 1000px;
    background-image: url("//images03.nicepage.com/a122014e1e8cdf24af08f98c/883a5e5a156e5e31a5e2d833/bg2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body1_backgroundimage{
    width: 100%;
}

.body1_box1{
    position: absolute;
    transform: translateX(-20em);
    width : 505px;
    height: 756px;
    background-image : linear-gradient(#306ed5, #b23c8a);
    margin-left: 100px;
    align-self: flex-end;
}

.body1_mainbox{
    width: 800px;
    height: 400px;
    background-color: white;
    margin : 0 auto;
    z-index: 5;
}

.body2{
    height: 1000px;
    margin-bottom: 1000px;
}