
*{

    margin : 0;
    padding: 0;
}

html, body{
    height : 100%;
    background-color: rgb(255, 255, 255);
}

.head{
   background-color: rgb(242, 242, 242);
   width: 100%;
   height: 30px; 
   padding: 20px;
   position: fixed;
   overflow-y: auto;
   z-index: 10;
}

.head_inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.head_logobox{
    margin-right: auto;
}

.head_logo{
    width: 125px;
}

.body1{
    position: relative;
    height: 800px;
}

.body1_backgroundimage{
    position: relative;
}

.body1_background{
    position: absolute;
    width: 100%;
    height: 800px;
}

.body1_backgroundblack{
    width: 100%;
    height: 800px;
    opacity: 0.4;
    position: absolute;
}

.body1_box1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body1_JB_image{
    position: relative;
    width : 120px;
    margin-top: 280px;

}

.body1_box1_WBB{
    position: relative;
    color: white;
    font-family: Georgia, serif !important;
    font-size: 4.5rem;
    margin-top: 35px;
}

.body1_line{
    position: relative;
    border-bottom: 2px solid white;
}

.body1_box1_BCF{
    position: relative;
    color : white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    margin-top: 35px;
    letter-spacing: 1px;
}

/* --------------------------------- */

.body2{
    position : relative;
    margin-top: 40px;
    margin-bottom: 85px;
}

.body2_box1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body2_box1_lineup{
    font-family: Georgia, serif !important;
    font-size: 3rem;
    
}

.body2_line{
    width: 300px;
    border-bottom: 3px solid #f15048;
}

.body2_box1_linedown1{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    margin-top: 25px;
}

.body2_box1_linedown2{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
}

.body2_box2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.body2_box2_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
}

.body2_box2_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
}

.body2_box2_3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body2_box2_BD1{
    font-family: Georgia, serif;
    font-size : 1.5rem;
    margin-top: 30px;
}

#body2_box2_BD2{
    font-size: 0.875rem;
    color: #999999;
}

.BD2{
    margin-top: 20px;
}

.computer{
    width: 64px;
    height: 64px;
}

.tool {
    width: 64px;
    height: 64px;
}

.people{
    width: 64px;
    height: 64px;
}

/* -------------------------------- */

.body3{
    background-color: rgb(227,227,227);
    height: 1300px;
}

.body3_box1{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.body3_box1_lineup{
    font-family: Georgia, serif !important;
    font-size: 3rem;
    margin-top: 60px;
}

.body3_box1_line{
    width: 500px;
    border-bottom: 3px solid #f15048;
}

#linedown{
    margin-top: 30px;
}

.body3_box1_linedown{
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
}

.body3_box2{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    justify-content: center;
    margin-top: 60px;
}

.body3_box2_1{
    background-color: rgb(241, 80,72);
    width: 330px;
    height: 280px;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.body3_box2_1post{
    width: 300px;
}

.body3_box2_1title{
    font-family: Georgia, serif !important;
    font-size: 1.5rem;
}

.body3_box2_1text{
    margin-top: 5px;
}

#body3_first{
    margin-top: 20px;
}

.body3_box2_2image{
    width: 330px;
    height: 280px;
}

.body3_box2_3image{
    width: 330px;
    height: 575px;
}

.body3_box2_4image{
    width: 330px;
    height: 280px;
}

.body3_box2_5image{
    width: 330px;
    height: 570px;
}

.body3_box2_6image{
    width: 330px;
    height: 280px;
}

.big{
    overflow : hidden;
}

.big img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.big:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}


.body3_box2_2{
    grid-column: 2;
    grid-row: 1;
}

.body3_box2_3{
    grid-column: 3;
    grid-row: 1/3;
}

.body3_box2_4{
    grid-column: 2;
    grid-row: 2;
}

.body3_box2_5{
    grid-column: 1;
    grid-row: 2/4;
}

.body3_box2_6{
    grid-column: 2;
    grid-row: 3;
}

.body3_box2_7{
    background-color: rgb(241, 80,72);
    width: 330px;
    height: 280px;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 3;
}

.body3_buttonbox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.body3_button{
    background-color: rgb(241, 80,72);
    color: white;
    width: 150px;
    height: 45px;
    border: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.body3_button:hover{
    background-color : rgb(239, 52,43);
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}

/* ------------------------------------------------ */

.body4{
    height: 300px;
    margin-bottom: 80px;
}

.body4_box{
    display: flex;
    flex-direction: row;
    justify-content : center;
    margin-top: 60px;
}

.body4_box_image1, .body4_box_image2, .body4_box_image3{
    width: 200px;
    height : 200px;
    border-radius: 1000px;
}

.body4_box_1, .body4_box_2, .body4_box_3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body4_box_2, .body4_box_3{
    margin-left: 150px;
}

.body4_name{
    font-family: Georgia, serif !important;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* --------------------------------------------- */

.body5{
    height: 400px;
}

.body5_backgroundimage{
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -10;
}

.body5_imageblack{
    width : 100%;
    height: 350px;
    opacity: 0.4;
    position: absolute;
    z-index: -8;
}

.body5_box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body5_box1_title, .body5_box1_post{
    z-index: -6;
    color: white;
}

.body5_box1_title{
    font-family: Georgia, serif !important;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 25px;
}

.body5_box2{
    z-index: -4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.body5_box2_image1{
    width: 100px;
    height: 50px;
}

.body5_box2_image{
    width: 120px;
    height: 60px;
    margin-left: 100px;
}

#body5_box2_image1{
    width: 130px;
    height: 60px;
}

#body5_box2_image3{
    width: 150px;
    height : 60px;
}

#body5_box2_image4{
    height: 30px;
}

/* ---------------------------------- */

.body6{
    height: 450px;
    display: flex;
    justify-content: center;
}

.body6_box1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.body6_box1_title{
    font-family: Georgia, serif !important;
    font-size: 3rem;
}

.body6_box1_line{
    width: 300px;
    border-bottom: 3px solid #f15048;
}

.body6_box1_post{
    margin-top: 45px;
}

.body6_box1_text{
    font-family: "Open Sans", sans-serif;
    margin-top: 3px;
}

.body6_buttonbox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.body6_button{
    background-color: rgb(241, 80,72);
    color: white;
    width: 150px;
    height: 45px;
    border: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.body6_button:hover{
    background-color : rgb(239, 52,43);
}

.body6_box2{
    margin-left: 60px;
}

.body6_box2_image{
    width : 600px;
    height : 400px;
}

/* -------------------------------------- */

.body7{
    height: 600px;
    background-color: rgb(227,227,227);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body7_box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body7_box1_title{
    font-family: Georgia, serif !important;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

.body7_box1_post{
    margin-bottom: 3px;
    color : #111111;
}

.body7_box2{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.body7_box2_1{
    margin-right: 100px;
    margin-top: 20px;
}

.body7_box2_1title{
    font-family: Georgia, serif !important;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.body7_box2_1imagebox{
    margin-top : 30px;
}

.facebook, .twitter, .instagram, .pinterest, .behance{
    width : 20px;
    height: 20px;
}

.twitter, .instagram, .pinterest, .behance{
    margin-left: 8px;
}

.behance{
    width : 30px;
}

.body7_box2_2{
    display: flex;
    flex-direction: column;
}
.name{
    width: 550px;
    height: 45px;
    border : none;
}

.email{
    width : 550px;
    height : 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    border : none;
}

.message{
    width : 550px;
    height : 120px;
    border : none;
}
input::placeholder{
    font-family: "Open Sans", sans-serif;
    font-size: 1.03rem;
    color : rgb(117, 117, 117);
    padding-left: 10px;
    opacity: 0.6;
}

.body7_buttonbox{
    margin-top: 20px;
}

.body7_button{
    background-color: rgb(241, 80,72);
    color: white;
    width: 120px;
    height: 35px;
    border: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.body7_button:hover{
    background-color : rgb(239, 52,43);
}

