
*{

    margin : 0;
    padding: 0;
}

html, body{
    height : 100%;
    background-color: rgb(255, 255, 255);
}

.head{
   background-color: rgb(242, 242, 242);
   width: 100%;
   height: 30px; 
   padding: 20px;
   position: fixed;
   overflow-y: auto;
   z-index: 10;
}

.head_inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.head_logobox{
    margin-right: auto;
}

.head_logo{
    width: 125px;
}

.body1{
    position: relative;
    height: 800px;
}

.body1_backgroundimage{
    position: relative;
}

.body1_background{
    position: absolute;
    width: 100%;
    height: 800px;
}

.body1_backgroundblack{
    width: 100%;
    height: 800px;
    opacity: 0.4;
    position: absolute;
}

.body1_box1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body1_JB_image{
    position: relative;
    width : 120px;
    margin-top: 280px;

}

.body1_box1_WBB{
    position: relative;
    color: white;
    font-family: Georgia, serif !important;
    font-size: 4.5rem;
    margin-top: 35px;
}

.body1_line{
    position: relative;
    border-bottom: 2px solid white;
}

.body1_box1_BCF{
    position: relative;
    color : white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    margin-top: 35px;
    letter-spacing: 1px;
}

/* --------------------------------- */

.body2{
    position : relative;
    margin-top: 40px;
    margin-bottom: 85px;
}

.body2_box1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body2_box1_lineup{
    font-family: Georgia, serif !important;
    font-size: 3rem;
    
}

.body2_line{
    width: 300px;
    border-bottom: 3px solid #f15048;
}

.body2_box1_linedown1{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    margin-top: 25px;
}

.body2_box1_linedown2{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
}

.body2_box2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.body2_box2_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
}

.body2_box2_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
}

.body2_box2_3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body2_box2_BD1{
    font-family: Georgia, serif;
    font-size : 1.5rem;
    margin-top: 30px;
}

#body2_box2_BD2{
    font-size: 0.875rem;
    color: #999999;
}

.BD2{
    margin-top: 20px;
}

.computer{
    width: 64px;
    height: 64px;
}

.tool {
    width: 64px;
    height: 64px;
}

.people{
    width: 64px;
    height: 64px;
}

/* -------------------------------- */

.body3{
    background-color: rgb(227,227,227);
    height: 1300px;
    margin-bottom: 1000px;
}

.body3_box1{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.body3_box1_lineup{
    font-family: Georgia, serif !important;
    font-size: 3rem;
    margin-top: 60px;
}

.body3_box1_line{
    width: 500px;
    border-bottom: 3px solid #f15048;
}

#linedown{
    margin-top: 30px;
}

.body3_box1_linedown{
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
}

.body3_box2{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    justify-content: center;
    margin-top: 60px;
}

.body3_box2_1{
    background-color: rgb(241, 80,72);
    width: 330px;
    height: 280px;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.body3_box2_1post{
    width: 300px;
}

.body3_box2_1title{
    font-family: Georgia, serif !important;
    font-size: 1.5rem;
}

.body3_box2_1text{
    margin-top: 5px;
}

#body3_first{
    margin-top: 20px;
}

.body3_box2_2image{
    width: 330px;
    height: 280px;
}

.body3_box2_3image{
    width: 330px;
    height: 575px;
}

.body3_box2_4image{
    width: 330px;
    height: 280px;
}

.body3_box2_5image{
    width: 330px;
    height: 570px;
}

.body3_box2_6image{
    width: 330px;
    height: 280px;
}

.body3_box2_2{
    grid-column: 2;
    grid-row: 1;
}

.body3_box2_3{
    grid-column: 3;
    grid-row: 1/3;
}

.body3_box2_4{
    grid-column: 2;
    grid-row: 2;
}

.body3_box2_5{
    grid-column: 1;
    grid-row: 2/4;
}

.body3_box2_6{
    grid-column: 2;
    grid-row: 3;
}

.body3_box2_7{
    background-color: rgb(241, 80,72);
    width: 330px;
    height: 280px;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 3;
}

.body3_buttonbox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.body3_button{
    background-color: rgb(241, 80,72);
    color: white;
    width: 150px;
    height: 45px;
    border: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}
